# Root
node_modules/
dist/
.env
*.log
.DS_Store

# Backend
blog-backend/node_modules/
blog-backend/dist/
blog-backend/.env

# Frontend
blog-frontend/node_modules/
blog-frontend/build/
blog-frontend/.env
